@font-face {
  font-family: 'FSLucasPro';
  src: url('../assets/fonts/FSLucasPro-Bold.ttf');
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'FSLucasPro';
  src: url('../assets/fonts/FSLucasPro-SemiBd.ttf');
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: 'FSLucasPro';
  src: url('../assets/fonts/FSLucasPro-Med.ttf');
  font-style: medium;
  font-weight: 500;
}